.product-details-container {
  font-family: "Rubik", sans-serif;
}

.main-image img {
  width: 90%;
  max-height: 450px;
  object-fit: cover;
}

.inputQuatity {
  width: 70%;
  padding: 10px;
}

.thumbnail-container img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.thumbnail-container img:hover,
.thumbnail-container img.active {
  border: 2px solid #000;
}

.product-info {
  padding-left: 20px;
}

.product-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.product-price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #e63946;
}

.color-options .color-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ddd;
  transition: all 0.3s ease;
}

.StaticDetails {
  display: grid;
  justify-content: center;
  padding-top: 8px;
  color: white;
  background-color: brown;

}

.color-options .color-circle:hover {
  border-color: #000;
}

.productBtn {
  padding: 10px 50px;
  border: none;
  background-color: brown;
  color: white;
}

.Themetext {
  background-color: brown;
  padding: 10px;
  color: white;
}


@media (max-width: 768px) {
  .thumbnail-container img {
    width: 53px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  .main-image img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.product-title {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}
.StaticDetails {
  margin:5px;
}
.product-price{
  text-align: center;
}

.inputQuatity {
  width: 75%;
  padding: 3px;
}

.productBtn {
  padding: 10px 13px;
}
.gap-2 b{
  line-height: 15px;
}

.gap-2 p{
  line-height: 17px;
}
 .shareSec{
  text-align: center;
  margin:20px 0px;
 }
 .iconSection {
   display: flex;
   justify-content: space-around;
 }
 .productEveDetails {
  text-align:justify;
 }

 .Themetext{
  margin: 20px 0;
 }

}