.midsec {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}


.viewbutton {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 400px;
    color: #ff7010;
    /* Text always visible */
    background: transparent;
    /* No background initially */
    border: 2px solid #616365 !important;

    cursor: pointer;
    overflow: hidden;
}

.viewbutton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #ff7010;
    /* Background appears on hover */
    transition: width 1s ease-in-out;
    z-index: -1;
   
}

.buttonsec {
    text-align: center;
    padding: 20px;
}

.sec1img {
    height: 79%;
    width: 77%;
    margin-left: 23%;
}

.sec2 img {
    height: 55%;
}

.modalPic{
    height: 390px !important;;
}

.viewbutton:hover::before {
    width: 100%;
    /* Expands from left to right */
}

.viewbutton:hover {
    color: white;
    border:none !important;
    /* Text turns white when background appears */
}


/* ------- Hover image section ------------ */

.related-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.related-product-card {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 420px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    padding-bottom: 10px;
}

.related-product-card:hover {
    transform: translateY(-5px);
}

.related-product-image {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.related-product-info {
    padding: 10px;
}

.related-product-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 8px 0;
}

.related-product-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.star {
    font-size: 16px;
    color: #ccc;
}

.filled {
    color: gold;
}

.rating-number {
    font-size: 14px;
    margin-left: 5px;
    color: #777;
}

.related-product-price {
    font-size: 18px;
    font-weight: bold;
    color: #e74c3c;
}

@media (max-width: 768px){
    .sec1img {
        height: 79%;
        width: 55%;
        margin-left: 23%;
      }
    .sec2{
      text-align: center;
    }
    .viewbtnSec{
        text-align: center;
    }
    .buttonsec{
        
        text-align: center;
    }
    .text-warning{
        text-align: center;
    }
    .buttonsec p{
        margin-bottom: 5px !important;
        text-align: center;
    }
    .sec2 p{
        margin:0px !important;
    }
}